@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

/*#platzi {
  width: 18%;
  height: fit-content;
}*/

.contenedor {
  width: 100%;
  margin: 0 auto;
}

.banner {
  height:7em;
  background-color: #3ba773;
  color: #fff;
  border-radius: 0 0 25px 25px;
}

.banner img:hover {
  opacity: 0.9;
    transform: scale(1.1);
    transition: all 1s ease 0s;
}

.banner img {
  width: 12em;
  margin-top: 1.3em;
  margin-left: 1em;
  transition: all 1s ease 0s; 
}

.banner div.registro {
  display: inline-block;
  float: right;
  margin: 2em;
}

div.registro button:hover {
  cursor: pointer;
  opacity: 0.9;
    transform: scale(1.1);
    transition: all 1s ease 0s;
}

div.registro button {
  background-color: rgb(89, 193, 64);
  font-family: 'poppins', sans-serif;
  font-weight: 600;
  text-align: center;
  font-size: medium;
  border: none;
  padding: 1em 2.5em;
  border-radius: 10px;
  transition: all 1s ease 0s; 
}

.contenido {
  padding: 0 1em;
  margin-bottom: 3em;
  text-align: center;
  font-family: 'poppins', sans-serif;
  animation: fadeInUp 2s ease-in-out;
}

.contenido li {
  padding: 1em 2em;
  background-color: #3ba773;
  color: rgb(253, 253, 253);
  border-radius: 5em;
  margin: 10px;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.imagen-responsive:hover{
  opacity: 0.9;
    transform: scale(1.03);
    transition: all 1s ease 0s;
}

.imagen-responsive {
  max-width: 50%;
  height: auto;
  border-radius: 12px;
  transition: all 1s ease 0s;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

ul li {
  padding-right: 3em;
}

.resena {
  margin-bottom: 3em;
}

.resena div {
  display: flex;
  justify-content: center;
}

.resena img {
  width: 10em;
  border-radius: 50%;
  margin-right: 2em;
}

.resena p {
  font-size: 18px;
  width: 25em;
}

.autor {
  font-size: 16px;
  color: #777;
}

.redes-sociales li:hover {
  opacity: 0.9;
    transform: scale(1.1);
    transition: all 1s ease 0s;
}

.redes-sociales li {
  transition: all 1s ease 0s;
}

.redes-sociales {
  text-align: center;
}

.redes-sociales a {
  font-size: 18px;
  padding: 1em 2em;
  background-color: #000;
  border-radius: 5em;
}

.redes-sociales a img {
  width: 1em;
}