* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.contenedor {
  width: 100%;
  margin: 0 auto;
}

.banner {
  height: 7em;
  background-color: #000;
  color: #fff;
}

.banner img {
  width: 12em;
  margin-top: 1.3em;
  margin-left: 1em;
}

.contenido {
  padding: 0 1em;
  margin-bottom: 3em;
  text-align: center;
}

.imagen-responsive {
  max-width: 50%;
  height: auto;
  border-radius: 12px;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

ul li {
  padding-right: 3em;
}

.resena {
  margin-bottom: 3em;
}

.resena div {
  display: flex;
  justify-content: center;
}

.resena img {
  width: 10em;
  border-radius: 50%;
  margin-right: 2em;
}

.resena p {
  font-size: 18px;
  width: 25em;
}

.autor {
  font-size: 16px;
  color: #777;
}
